.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.name {
  font-size: 100px;
  color: rgb(245, 245, 244);
  font-weight: bold;
  letter-spacing: 2px;
}

.head {
  font-size: 50px;
  color: antiquewhite;
  color: gray;
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 70px;
  }
}